.page {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main{
    background: var(--primaryDark);
    width: 500px;
    height: 700px;
    max-width: 100vw;
    max-height: 100vh;
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--lightText);
    border-radius: 2rem;
}


/*  */
.testButton{
background-color: #37b5b6;
 outline: none; 
 border: none; 
 padding: 0.5rem 1rem; 
 border-radius: 0.5rem; 
 font-size: 2rem; 
 cursor: pointer;
}

.directionsList {
    .directionItem {
        margin: 1rem;
    }
}

.footer {
    display: flex;
    align-items: end;
    gap: 2rem;
}
@media (max-width: 575.98px) {
    .main {
        margin: 0px;
        border-radius: 0;
    }
}